#Project My WriteRead Mongoose
/MongoDb/My WriteRead Mongoose/secret

#Project Test1 - Cordova
/Cordova/test1-RandomUser/platforms

#Geolocation
/Geolocation/Es 01 mappe statiche/environment.js
/Geolocation/Es 03 mappe dinamiche/environment.js
/Geolocation/Es 05 percorso/environment.js
/Geolocation/Verifica/environment.js

**/node_modules
node_modules
node_modules/
