*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin: 10px;
}

#wrapper{
	width:800px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	/* per "sentire" il tag <a> che è float:right */
	overflow:auto; 
}

#wrapper button{
	width:200px;
	height:25px;
	color:#eee;
	background-color:#088;
	margin:10px;
	border:none;
	outline:none;
	box-shadow:3px 3px 2px #AAA;
}

#wrapper button:hover{
	color:#088;
	background-color:#eee;
	
}

#wrapper button:active{
	background-color:#ddd;
	box-shadow:-3px -3px 2px #AAA;
}

/* ************************ TABLE ******************* */
#table{
	width:300px;
	margin: 20px auto;
	border:1px solid #ddd;
	background-color:#eee;
}

#table td{
	text-align:center;
	font-size:10pt;
}

#table td:nth-of-type(1){
	width:75%;  /* la seconda cella sarà 25% */
}

/* ************************ CANVAS ******************* */
#canvas{
	width:740px;
	height:400px;
	margin: 0 auto;
	/* necessario per il funzionamento di responsive:true */
	position:relative; 
}

#canvas canvas{
}

